<% provide(:title, "Home") %>

<% if logged_in? %>
  <%= render 'static_pages/home' %>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Welcome back!</h1>
    <%= link_to "All events", event_index_path, class: "btn btn-primary" %>
    <%= link_to "My events", user_path(current_user), class: "btn btn-primary" %>
  </div>
<% else %>
  <%= render 'static_pages/home' %>
    <div class="col-sm-4 col-sm-offset-4">
    <h1>Welcome to the Private Events site!</h1>
      <h3>Feel free to <%= link_to "sign up", signup_path %> for a new account,
                                       or <%= link_to "log in", login_path %>
                                       with these credentials: foo@bar.com 
                                       password:foobar.</h3>
    </div>
    
    
    
<% end %>




