<% provide(:title, "Home") %>

<% if logged_in? %>
  <%= render 'static_pages/home' %>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Welcome back!</h1>
    <%= link_to "All events", event_index_path, class: "btn btn-primary" %>
    <%= link_to "My events", user_path(current_user), class: "btn btn-primary" %>
  </div>
<% else %>
  <%= render 'static_pages/home' %>
    <div class="col-sm-4 col-sm-offset-4 text-center">
    <h1>Welcome to the Private Events site!</h1>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
    <%= link_to "Log in", login_path, class: "btn btn-primary" %>
      <h3>Feel free to sign up for a new account or login with these 
          credentials: foo@bar.com password:foobar.</h3>
    </div>
    
    
    
<% end %>




