<% provide(:title, "Users") %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h1>Users</h1>
      <%= will_paginate @users %>
      <% @users.each do |x| %>
        <div class="event-boxes">
          <p id="event-title"><%= link_to "#{x.name}", user_path(x) %>
          <%="#{x.name}" %></p>
          <small>Member since <%= x.created_at.strftime('%B %d, %Y') %></small><br>
      
          <% if x.events.count >= 5 %>
            <span class = "glyphicon glyphicon-star-empty"></span>
            <small><%= "#{x.name}" %> is an <em>ALL-STAR</em> host!</small>
          <% else %>
            <small><%= "#{x.name}" %> needs to create <%= 5 - (x.events.count) %> more events to become an all-star host.</small>
          <% end %>
        </div>
      <% end %>
    <%= will_paginate @users %>
    </div>
  </div>
</div>