<% provide(:title, "Events") %>
<div class="container">
  <% if (logged_in? == false) %>
    <div class="row">
      <div class="text-center top-image col-sm-12">
        <img id="the-image" class="img-responsive" src="http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/seattle-skyline-sebastian-schlueter-sibbiblue.jpg">
        <div class="top-image-button">
          <p id="white">Create and attend events</p>
          <%= link_to "Get started", signup_path, class: "btn btn-primary" %>
        </div>
      </div> 
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <ul class="nav nav-pills nav-justified"><br>
          <li class="active"><a data-toggle="tab" href="#upcoming_events">All upcoming events</a></li>
          <li><a data-toggle="tab" href="#past_events">All past events</a></li>
        </ul>
      <div class="tab-content">
        <div id="upcoming_events" class="tab-pane fade in active">
          <p>
            <% @events.upcoming_events.each do |x| %>
              <div class="event-boxes">
                <p id="event-title"><%= link_to "#{x.title}", event_path(x.id) %>
                <%="#{x.title}" %></p>
                <%= "#{x.description}" %><br>
                <i class="glyphicon glyphicon-calendar"></i>
                <%= x.event_date.strftime('%A, %B %d, %Y') %><br>
                <i class="glyphicon glyphicon-time"></i>    
                <%=x.event_time.strftime('%I:%M%P') %><br>
                <i class="glyphicon glyphicon-map-marker"></i>
                <%= x.address %><br>
                <small>Hosted by <%="#{x.host.name}"%></small>
              </div>
            <% end %>
        </p>
        <%= will_paginate @events.upcoming_events %>
      </div>
      <div id="past_events" class="tab-pane fade">
        <p>
          <% @events.past_events.each do |x| %>
            <div class="event-boxes">
              <p id="event-title"><%= link_to "#{x.title}", event_path(x.id) %>
              <%="#{x.title}" %></p>
              <%= "#{x.description}" %><br>
              <i class="glyphicon glyphicon-calendar"></i>
              <%= x.event_date.strftime('%A, %B %d, %Y') %><br>
              <i class="glyphicon glyphicon-map-marker"></i>
              <%= x.address %><br>
              <i class="glyphicon glyphicon-ok"></i>
              <small>This event has ended.</small>
            </div>
          <% end %>
        </p>
      <%= will_paginate @events.past_events %>
    </div>
  </div>
</div>
