<% provide(:title, "Events") %>

<h1>Event Description</h1>

<div class="col-sm-6 col-sm-offset-3 well">

  <h4><b><%= @event.title %></b></h4><br>
  <h4>Description:</h4>
  <h3><%= @event.description %></h3><br>
  <h4>Hosted by:</h4>
  <h3><%= @event.host.name %></h3><br>
  <h4>Time and place:</h4>
  <h3><i class="glyphicon glyphicon-map-marker"></i>
      <%= @event.location %></h3>
  <h3><i class="glyphicon glyphicon-calendar"></i>
      <%= @event.event_date.strftime('%A, %B %d, %Y') %>
      <%=@event.event_time.strftime('at %I:%M%P') %></h3><br>

  <h4>Event guests:</h4>

  <% if @event.guests.any? %>
    <% @event.guests.each do |e| %>
      <h5><i class="glyphicon glyphicon-user"></i>
      <%= e.name %></h5>
    <% end %>
  <% else %>
    <h3>None so far. Be the first and start the trend!</h3>
  <% end %><br>
  
  <% if @event.event_date > Date.today %>
    
    <% if logged_in? && (current_user.id != @event.host.id) %>
      
      <% if @event.guests.include?(current_user) %>
        <%= form_for(current_user.invites.find_by(attended_event_id: @event.id), 
            :html => { :method => :delete }) do |f| %>
          <%= f.submit "Leave event", class: "btn btn-danger btn-sm" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.invites.build(attended_event_id: @event.id)) do |f| %>
          <%= f.hidden_field :attended_event_id, :value => @event.id %>
          <%= f.submit "Attend this Event", class: "btn btn-success btn-sm" %>
        <% end %>
      <% end %>
      
    <% elsif current_user.id == @event.host.id %>
      <div class="text-center">
        <%= link_to "Edit Event", edit_event_path, class: "btn btn-primary" %>
        <%= link_to "Delete event", @user, method: :delete,
                                             data: { confirm: "Are you sure you want to delete this event?" } %>
      </div>
    <% end %>
  
  <% else %>
    <div class="text-center"><i class="glyphicon glyphicon-ok"></i></div>
    <div class="text-center">This event has ended.</div>
  <% end %>
 
</div>     
      
      
      