<% provide(:title, "Events") %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h1><%= @event.title %></h1>
        <div class="event-show-page">
          <p id="event-title">Description:</p>
          <p><%= @event.description %></p>
          <p id="event-title">Hosted by:</p>
          <p><%= @event.host.name %></p>
          <p id="event-title">Time and place:</p>
          <p><i class="glyphicon glyphicon-map-marker"></i>
          <%= @event.address %></p>
          <i class="glyphicon glyphicon-calendar"></i>
          <%= @event.event_date.strftime('%A, %B %d, %Y') %>
          <%=@event.event_time.strftime('at %I:%M%P') %></h3><br>

          <% if @event.event_date > Date.today %>
    
            <% if logged_in? && (current_user.id != @event.host.id) %>
              <%= render 'event_guests' %>
              <% if @event.guests.include?(current_user) %>
                <%= form_for(current_user.invites.find_by(attended_event_id: @event.id), 
                    :html => { :method => :delete }) do |f| %>
                  <%= f.submit "Leave event", class: "btn btn-danger btn-sm" %>
                  <% end %>
              <% else %>
                <%= form_for(current_user.invites.build(attended_event_id: @event.id)) do |f| %>
                  <%= f.hidden_field :attended_event_id, :value => @event.id %>
                  <%= f.submit "Attend this Event", class: "btn btn-success btn-sm" %>
                <% end %>
              <% end %>
      
            <% elsif logged_in? && (current_user.id == @event.host.id) %>
              <%= render 'event_guests' %>
              <div class="text-center">
                <%= link_to "Edit Event", edit_event_path, class: "btn btn-primary" %>
                <%= link_to "Delete event", @user, method: :delete,
                                             data: { confirm: "Are you sure you want to delete this event?" } %>
              </div>
            <% else %>
            <% end %>
  
          <% else %>
            </br>
            <p class="text-center"><i class="glyphicon glyphicon-ok"></i>
            <p class="text-center" id="event-ended">This event has ended.</p>
          <% end %>
        </div>
        <div class="event-show-page">
          <p id="event-title">Nearby events:</p>
            <% @event.nearbys(50).each do |event| %>
              <% if event.event_date > Date.today %>
                <%= link_to event.title, event %> (<%= event.distance.round(2) %> miles from this event)<br>
              <% else %>
                <p>No upcoming events nearby.</p>
              <% end %>
            <% end %><br>
        </div>
        <div class="event-show-page">
          <img class="img-responsive center-block" <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=650x500&zoom=15&markers=#{@event.latitude},#{@event.longitude}&zoom=12&size=400x400&key=#{Figaro.env.GOOGLE_API_KEY}" %> </img>
        </div>
    </div>
  </div>
</div>     